/* Helpers */

.wrapper {
	width: 100%;
	max-width: $max-width;
	margin: 0 auto;
}
.shadow-regular {
	@include box-shadow-raised;
}
.shadow-low {
	@include box-shadow-raised-lower;
}
.text-right {
	text-align: right;
}
.center_text {
	text-align: center;
}
.no-shadow {
	@include no-shadow;
}

/* Margins */

.no-margin {
	margin: 0 !important;
}
.margin-top {
	margin-top: 3% !important;
}
.margin-right {
	margin-right: 3% !important;
}
.margin-bottom {
	margin-bottom: 3% !important;
}
.margin-left {
	margin-left: 3% !important;
}

/* Paddings */

.no-padding {
	padding: 0 !important;
}
.padding-top {
	padding-top: 3% !important;
}
.padding-right {
	padding-right: 3% !important;
}
.padding-bottom {
	padding-bottom: 3% !important;
}
.padding-left {
	padding-left: 3% !important;
}

/* jQuery Fixes */

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	float: none !important;
	padding: 0 15px !important;
}
.ui-tabs .ui-tabs-nav {
	padding: 0 !important;
}
.ui-tabs .ui-tabs-panel {
	padding: 0 15px 10px 15px !important;
}
.ui-tabs {
	padding: 30px 0 0 0 !important;
}

// Box for showcasing the vertical menu

.min_height_box {
	position: relative;
	min-height: 500px;
}