/* Horizontal Navigation */

$navigation-height: 50px;

nav.hor-nav {
	
	height: $navigation-height;
	margin: 0 0 20px 0;
	padding: 0 10px;
	color: #FFF;
	@include box-shadow-bottom;
	z-index: z-index('navigation');
	
	&.simple {
		margin-bottom: 0;
		@include no-shadow;
	}
	
	// Types
	
	&.nav-text {
		> ul {
			float: left;
			> li {
				float: left;
			}
		}
		text-align: left;
	}
	
	&.nav-icon {
		> ul {
			float: right;
			> li {
				float: left;
			}
		}
		text-align: right;
	}
	
	// Navigation title
	
	.nav-title {
		float: left;
		height: $navigation-height - 10;
		line-height: $navigation-height - 10;
		margin: 5px 0;
		padding: 0 10px;
		font-size: $fs-body-lg;
		font-weight: 300;
		color: #FFF;
	}
	
	// Reset margins and paddings
	
	ul, li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	// Style main list
	
	> ul {
		> li {
			
			position: relative;
			display: inline-block;
			
			> a {
				
				height: $navigation-height - 10;
				margin: 5px 0;
				padding: 0 10px;
				color: #FFF;
				line-height: $navigation-height - 10;
				text-transform: uppercase;
				cursor: pointer;
				border-radius: 3px;
				display: block;
				
				@include transition(0.1s);
				
				&:hover {
					background: rgba(255,255,255,0.1);
				}
				
			}
			
			&.ui-state-active {
				a {
					background: rgba(255,255,255,0.1);
				}
			}
		
		}
	}
	
	// Style dropdown
	
	> ul {
		> li {
			> div {
				
				position: absolute;
				top: $navigation-height - 5;
				padding: 5px 0;
				text-align: left;
				color: $color-medium-grey-2;
				border-radius: 2px;
				background: $color-light-grey;
				display: none;
				z-index: 999;
				
				@include box-shadow-2;
				
				// Active
				
				&.active {
					display: block;
				}
				
				// Positions
				
				&.left {
					left: 0;
				}
				
				&.right {
					right: 0;
				}
				
				// Styling
				
				> ul {
					> li {
						
						display: block;
						
						> a {
							
							height: $navigation-height / 2 + 10;
							margin: 0 5px;
							padding: 0 15px;
							font-size: $fs-body-xs;
							color: $color-dark-grey;
							line-height: $navigation-height / 2 + 10;
							border-radius: 3px;
							cursor: pointer;
							white-space: nowrap;
							display: block;
							
							@include transition(0.2s);
							
						}
						
					}
				}
				
				h6 {
					height: 20px;
					margin: 0;
					padding: 0 15px;
					font-size: $fs-body-xs;
					font-weight: 300;
					color: $color-medium-grey-2;
					line-height: 20px;
				}
				
				hr {
					width: 100%;
					padding: 0;
					margin: 5px 0;
					border: none;
					border-bottom: 1px solid $color-light-grey-2;
					border-collapse: collapse;
					outline: none;
				}
				
			}
		}
	}
	
	// Colors
	
  @each $name,$color in $styles_colors {
    &.#{$name} {
			background: $color;
			a.inner {
				&:hover {
					color: #FFF;
					background: $color;
					@include box-shadow-raised-lower;
				}
			}
    }
  }
	
	&.clear {
		background: #FFF;
		ul li a {
			color: #666;
			&:hover {
				background: rgba(0,0,0,0.1);
			}
		}
		a.inner {
			&:hover {
				color: #333;
				background: rgba(0,0,0,0.1);
				@include box-shadow-raised-lower;
			}
		}
	}
	
	// Sizes
	
	&.short {
		width: 95%;
		max-width: 1000px;
		margin: 0 auto 20px auto;
		border-radius: 3px;
	}
	
	&.large {
		width: 100%;
		height: $navigation-height + 10;
		.nav-title {
			height: $navigation-height - 10 + 10;
			font-size: $fs-body-xl;
			line-height: $navigation-height - 10 + 10;
		}
		div.menu-dropdown {
			top: $navigation-height - 5 + 10;
		}
		a.outer {
			height: $navigation-height - 10 + 10;
			padding: 0 15px;
			line-height: $navigation-height - 10 + 10;
		}
	}
	
}

/* Vertical Navigation */

$navigation-width: 200px;

nav.ver-nav {
	
	position: relative;
	width: $navigation-width;
	background: $color-aqua-2;
	z-index: z-index('navigation');
	
	@include transition(0.25s);
	@include soft-shadow;
	
	// Menu
	
	ul {
		
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
		
		@include clearfix;
		
		li {
			
			position: relative;
			margin: 0;
			padding: 0;
			border-bottom: 1px solid $color-aqua;
			
			a {
				width: 100%;
				height: 50px;
				color: #FFF;
				line-height: 50px;
				background: $color-aqua-2;
				cursor: pointer;
				display: block;
				overflow: hidden;
				@include transition(0.2s);
				&:hover {
					background: darken($color-aqua-2,5%);
				}
				
				span.icon {
					width: 50px;
					height: 50px;
					line-height: 50px;
					text-align: center;
					display: inline-block;
					vertical-align: middle;
				}
				
			}
			
			&.active {
				a {
					cursor: default;
					background: darken($color-aqua-2,6%);
				}
			}
			
			ul {
				position: absolute;
				left: 100%;
				top: 0;
				width: 200px;
				display: none;
				li {
					position: relative;
					&:nth-of-type(1){
						.arrow {
							position: absolute;
							top: 15px;
							right: 100%;
							width: 0; 
							height: 0; 
							border-top: 10px solid transparent;
							border-bottom: 10px solid transparent;
							border-right: 10px solid darken($color-aqua-2,3%);
							display: block;
						}
					}
					a {
						padding-left: 15px;
					}
				}
			}
			
			&:hover {
				ul {
					display: block;
				}
			}
			
		}
		
	}
	
	// Extra padding for collapsible button
	
	> ul.is-collapsible {
		padding: 0 0 50px 0;
	}
	
	// Collapse button
	
	a.collapse-btn {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		color: #FFF;
		cursor: pointer;
	}
	
	// Open
	
	&.open {
		width: 200px;
	}
	
	// Closed
	
	&.closed {
		width: 50px;
	}
	
	// Colors
	
  @each $name,$color in $styles_colors {
    &.#{$name} {
			background: $color;
			ul{
				li {
					border-bottom: 1px solid darken($color,6%);
					a {
						background: $color;
						&:hover {
							background: darken($color,5%);
						}
					}
					&.active {
						a {
							background: darken($color,6%);
						}
					}
					ul {
						background: darken($color,3%);
						.arrow {
							border-right: 10px solid darken($color,3%);
						}
						li {
							background: darken($color,3%);
							&:nth-of-type(1){
								.arrow {
									border-right: 10px solid darken($color,3%);
								}
							}
							&:hover {
								&:nth-of-type(1){
									.arrow {
										border-right: 10px solid darken($color,6%);
									}
								}
							}
							a {
								background: darken($color,3%);
							}
						}
					}
				}
			}
			a.collapse-btn {
				background: $color;
				&:hover {
					background: darken($color,5%);
				}
			}
    }
  }
	
	// Over aside
	
	&.over-aside {
		background: none !important;
		@include no-shadow;
	}
	
}