/* Notifications */

$notification-height: 32px;

.notification {
	
	position: relative;
	min-height: $notification-height;
	padding: 0 50px;
	margin: 20px auto;
	color: #FFF;
	line-height: $notification-height;
	
	span {
		line-height: $notification-height;
	}
	
	> span.title {
		font-weight: 500;
		text-transform: uppercase;
	}
	
	> span.icon {
		position: absolute;
		top: 0;
		left: 15px;
		height: $notification-height;
		line-height: $notification-height;
		svg {
			color: #FFF;
		}
	}
	
	a.close {
		position: absolute;
		top: 0;
		right: 15px;
		height: $notification-height;
		text-align: center;
		color: #FFF;
		cursor: pointer;
		line-height: $notification-height;
		display: block;
		svg {
			margin: 0;
			@include transition(0.1s);
		}
		&:hover {
			svg {
				transform: scale(1.1,1.1);
			}
		}
	}
	
	// Sizes
	
	&.short {
		width: 95%;
		max-width: 1000px;
		border-radius: 5px;
		@include box-shadow-raised-lower;
	}
	
	&.large {
		width: 100%;
		min-height: $notification-height+10;
		line-height: $notification-height+10;
		> span.icon,
		> a.close {
			height: $notification-height+10;
			line-height: $notification-height+10;
		}
	}
	
	// Colors
	
  @each $name,$color in $status_colors {
    &.#{$name} {
			border: 1px solid darken($color, 5%);
			background: $color;
    }
  }
	
}