/* Pagination */

ul.pagination {
	
	margin: 10px 0;
	padding: 0;
	text-align: center;
	list-style: none;
	display: inline-block;
	
	li {
		margin: 0 2px;
		display: inline-block;
		a {
			width: 28px;
			height: 28px;
			line-height: 28px;
			border-radius: 14px;
			cursor: pointer;
			display: block;
			&.words {
				width: auto;
				padding: 0 10px;
			}
			&.current {
				color: #FFF;
				cursor: default;
				background: $color-mint;
				@include soft-shadow;
			}
			&:hover {
				background: $color-light-grey-2;
				@include soft-shadow;
				&.current {
					color: #FFF;
					background: $color-mint;
				}
			}
			&:visited,
			&:active {
				color: $color-dark-grey-2;
			}
		}
	}
	
}

div.dataTables_paginate {
	
	width: 100%;
	margin: 10px 0;
	padding: 0;
	text-align: center;
	list-style: none;
	display: inline-block;
	
	a {
		width: 28px;
		height: 28px;
		margin: 0 2px;
		line-height: 28px;
		border-radius: 14px;
		cursor: pointer;
		display: inline-block;
		&.previous,
		&.next {
			width: auto;
			padding: 0 10px;
		}
		&.current {
			color: #FFF;
			cursor: default;
			background: $color-mint;
			@include soft-shadow;
		}
		&.disabled {
			opacity: 0;
			cursor: default;
		}
		&:hover {
			background: $color-light-grey-2;
			@include soft-shadow;
			&.current {
				color: #FFF;
				background: $color-mint;
			}
		}
		&:visited,
		&:active {
			color: $color-dark-grey-2;
		}
	}
	
	// Styling
	
	@each $name,$color in $styles_colors {
    &.#{$name} {
			a {
				&.current {
					background: $color;
				}
				&:hover {
					&.current {
						background: $color;
					}
				}
			}
    }
  }
	
}


